In [1]:
import pandas as pd

In [5]:
df=pd.read_csv('Pokemon.csv')
print(df.head(10))
print(df.tail(10))

   #                       Name Type 1  Type 2  Total  HP  Attack  Defense  \
0  1                  Bulbasaur  Grass  Poison    318  45      49       49
1  2                    Ivysaur  Grass  Poison    405  60      62       63
2  3                   Venusaur  Grass  Poison    525  80      82       83
3  3      VenusaurMega Venusaur  Grass  Poison    625  80     100      123
4  4                 Charmander   Fire     NaN    309  39      52       43
5  5                 Charmeleon   Fire     NaN    405  58      64       58
6  6                  Charizard   Fire  Flying    534  78      84       78
7  6  CharizardMega Charizard X   Fire  Dragon    634  78     130      111
8  6  CharizardMega Charizard Y   Fire  Flying    634  78     104       78
9  7                   Squirtle  Water     NaN    314  44      48       65

   Sp. Atk  Sp. Def  Speed  Generation  Legendary
0       65       65     45           1      False
1       80       80     60           1      False
2      100      100     80           1      False
3      122      120     80           1      False
4       60       50     65           1      False
5       80       65     80           1      False
6      109       85    100           1      False
7      130       85    100           1      False
8      159      115    100           1      False
9       50       64     43           1      False
       #                 Name   Type 1  Type 2  Total   HP  Attack  Defense  \
790  714               Noibat   Flying  Dragon    245   40      30       35
791  715              Noivern   Flying  Dragon    535   85      70       80
792  716              Xerneas    Fairy     NaN    680  126     131       95
793  717              Yveltal     Dark  Flying    680  126     131       95
794  718     Zygarde50% Forme   Dragon  Ground    600  108     100      121
795  719              Diancie     Rock   Fairy    600   50     100      150
796  719  DiancieMega Diancie     Rock   Fairy    700   50     160      110
797  720  HoopaHoopa Confined  Psychic   Ghost    600   80     110       60
798  720   HoopaHoopa Unbound  Psychic    Dark    680   80     160       60
799  721            Volcanion     Fire   Water    600   80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
790       45       40     55           6      False
791       97       80    123           6      False
792      131       98     99           6       True
793      131       98     99           6       True
794       81       95     95           6       True
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

In [24]:
print("Reading just the headers")
# Read titles as list
print(df.columns.tolist())

print("Reading top 5 rows")
# Read the name and types of top 5 rows
print(df[['Name','Type 1','Type 2']][0:5])

print("Reading first row");
#Read row based on index -- integer location
print(df.iloc[1])

print("Reading a few rows together using iloc")
print(df.iloc[29:37])

#Reading a specifc location -- like specific cell
print("Reading the first column of 2 indexed row")
print(df.iloc[2,1])

# Getting location with a specific condtion:
df.loc[df['Legendary']==True]

Reading just the headers
['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary']
Reading top 5 rows
                    Name Type 1  Type 2
0              Bulbasaur  Grass  Poison
1                Ivysaur  Grass  Poison
2               Venusaur  Grass  Poison
3  VenusaurMega Venusaur  Grass  Poison
4             Charmander   Fire     NaN
Reading first row
#                   2
Name          Ivysaur
Type 1          Grass
Type 2         Poison
Total             405
HP                 60
Attack             62
Defense            63
Sp. Atk            80
Sp. Def            80
Speed              60
Generation          1
Legendary       False
Name: 1, dtype: object
Reading a few rows together using iloc
     #       Name    Type 1  Type 2  Total  HP  Attack  Defense  Sp. Atk  \
29  24      Arbok    Poison     NaN    438  60      85       69       65
30  25    Pikachu  Electric     NaN    320  35      55       40       50
31  26     Raichu  Electric     NaN    485  60      90       55       90
32  27  Sandshrew    Ground     NaN    300  50      75       85       20
33  28  Sandslash    Ground     NaN    450  75     100      110       45
34  29   Nidoranâ™€    Poison     NaN    275  55      47       52       40
35  30   Nidorina    Poison     NaN    365  70      62       67       55
36  31  Nidoqueen    Poison  Ground    505  90      92       87       75

    Sp. Def  Speed  Generation  Legendary
29       79     80           1      False
30       50     90           1      False
31       80    110           1      False
32       30     40           1      False
33       55     65           1      False
34       40     41           1      False
35       55     56           1      False
36       85     76           1      False
Reading the first column of 2 indexed row
Venusaur

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
156,144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
157,145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
158,146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
162,150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
163,150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [ ]:
print("ITERATION")
#Iterating thru rows
print("Iterating thruuuu")
for index,row in df.iterrows():
    print(index,row)
print("Iterating thru just the name column")
for index,row in df.iterrows():
    print(index,row['Name'])

In [26]:
print("Describing Data")
df.describe()

Describing Data

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,800.000000,800.00000,800.000000,800.000000,800.000000,800.000000,800.000000,800.000000,800.00000
mean,362.813750,435.10250,69.258750,79.001250,73.842500,72.820000,71.902500,68.277500,3.32375
std,208.343798,119.96304,25.534669,32.457366,31.183501,32.722294,27.828916,29.060474,1.66129
min,1.000000,180.00000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000,1.00000
25%,184.750000,330.00000,50.000000,55.000000,50.000000,49.750000,50.000000,45.000000,2.00000
50%,364.500000,450.00000,65.000000,75.000000,70.000000,65.000000,70.000000,65.000000,3.00000
75%,539.250000,515.00000,80.000000,100.000000,90.000000,95.000000,90.000000,90.000000,5.00000
max,721.000000,780.00000,255.000000,190.000000,230.000000,194.000000,230.000000,180.000000,6.00000

In [34]:
print("Sort with names")
df.sort_values('Name')

print("Sort in descending order")
df.sort_values('Name',ascending=False)

print("Sorting using multiple columns -- one column asc and one column desc")
df.sort_values(['Name','Type 1'],ascending=[True,False])

Sort with names
Sort in descending order
Sorting using multiple columns -- one column asc and one column desc

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,494,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,594,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,310,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,465,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,565,65,150,60,115,60,115,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
632,571,Zoroark,Dark,NaN,510,60,105,60,120,60,105,5,False
631,570,Zorua,Dark,NaN,330,40,65,40,80,40,65,5,False
46,41,Zubat,Poison,Flying,245,40,45,35,30,40,55,1,False
695,634,Zweilous,Dark,Dragon,420,72,85,70,65,70,58,5,False
794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True

In [36]:
df['Total'] = df['HP']+df['Attack']+df['Defense']
df.head(1)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,143,45,49,49,65,65,45,1,False

In [47]:
print("Drop columns")
df=df.drop(columns=['Sp. Def'])
print(df)

Drop columns
       #                   Name   Type 1  Type 2  Total  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison    143  45      49       49
1      2                Ivysaur    Grass  Poison    185  60      62       63
2      3               Venusaur    Grass  Poison    245  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison    303  80     100      123
4      4             Charmander     Fire     NaN    134  39      52       43
..   ...                    ...      ...     ...    ...  ..     ...      ...
795  719                Diancie     Rock   Fairy    300  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy    320  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost    250  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark    300  80     160       60
799  721              Volcanion     Fire   Water    310  80     110      120

     Speed  Generation  Legendary
0       45           1      False
1       60           1      False
2       80           1      False
3       80           1      False
4       65           1      False
..     ...         ...        ...
795     50           6       True
796    110           6       True
797     70           6       True
798     80           6       True
799     70           6       True

[800 rows x 11 columns]

In [52]:
# Creating a column and adding from columns 4 to 9 for all rows
df['Total1']=df.iloc[:, 5:8].sum(axis=1) # axis =1 specifies ssummation horizontally
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Speed,Generation,Legendary,Total1
0,1,Bulbasaur,Grass,Poison,143,45,49,49,45,1,False,143
1,2,Ivysaur,Grass,Poison,185,60,62,63,60,1,False,185
2,3,Venusaur,Grass,Poison,245,80,82,83,80,1,False,245
3,3,VenusaurMega Venusaur,Grass,Poison,303,80,100,123,80,1,False,303
4,4,Charmander,Fire,NaN,134,39,52,43,65,1,False,134
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,300,50,100,150,50,6,True,300
796,719,DiancieMega Diancie,Rock,Fairy,320,50,160,110,110,6,True,320
797,720,HoopaHoopa Confined,Psychic,Ghost,250,80,110,60,70,6,True,250
798,720,HoopaHoopa Unbound,Psychic,Dark,300,80,160,60,80,6,True,300
799,721,Volcanion,Fire,Water,310,80,110,120,70,6,True,310